{% extends "app/base.html" %}


{% block contenido %}
{% load humanize %}

<table class="table table-striped" id="card-body">
    <tr>
        <th>Nombre</th>
        <th>Proveedor</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Fecha Elavoración</th>
        <th>Acciones</th>
    </tr>

    {% for producto in entity %}

    <tr>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.proveedor }}</td>
        <td>$ {{ producto.precio | intcomma }}</td>
        <td>{{ producto.cantidad }}</td>
        <td>{{ producto.fecha_elaboracion }}</td>
        <td>
            {% if perms.app.change_producto %}
            <a class="btn btn-sm" id="boton_primario" href="{% url 'modificar_producto' producto.id %}">Modificar</a>
            {% endif %}
            {% if perms.app.delete_producto %}
            <a class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{ producto.id }}" href="#">Eliminar</a>
            {% endif %}

            <div class="modal fade" id="staticBackdrop{{ producto.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel{{ producto.id }}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content" id="contenido_carta">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel{{ producto.id }}">Advertencia</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ¿Estas seguro de eliminar el producto <strong>{{ producto.nombre }}</strong>?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <a class="btn btn-danger" href="{% url 'eliminar_producto' producto.id %}">Eliminar</a>
                    </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
<hr>
{% include 'app/paginator.html' %}
{% endblock %}


<!-- href="{% url 'eliminar_producto' producto.id %}" -->