{% extends "app/base.html" %}

{% load static %}

{% block contenido %}

{% load crispy_forms_tags %}

  <h1>Contacto</h1>
  <p>Si tienes alguna pregunta o comentario, por favor completa el siguiente formulario:</p>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 offset-md-3">
        <div class="card" id="card-body">
          <div class="card-body border border-dark border-2">
            <form action="">

              {% csrf_token %}
              {{ form | crispy }}

              <div class="d-flex justify-content-end">
                <button type="submit" id="boton_primario" class="btn" id="boton">Enviar</button>
                &nbsp;
                <button type="reset" class="btn btn-secondary">Limpiar</button>
              </div>

              {% if mensaje %}
                <div class="alert alert-success mt-3">
                  {{ mensaje }}
                </div>
              {% endif %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}