{% extends "app/base.html" %}

{% load static %}

{% block contenido %}

<!-- titulo -->
<h1 class="text-center">Bienvenido a Cerveceria Nacional</h1>
<p class="text-center">Disfruta de nuestras cervezas artesanales y productos exclusivos.</p>

<!-- Banner Carousel -->
<div id="carouselExampleFade" class="carousel slide carousel-fade">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'app/img/evento_degustacion.png' %}" class="d-block w-100 banner-img" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'app/img/lanzamiento_cerveza.png' %}" class="d-block w-100 banner-img" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'app/img/visita_fabrica.png' %}" class="d-block w-100 banner-img" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>



{% endblock %}